# Tomcat
server:
    tomcat:
        uri-encoding: UTF-8
        max-threads: 1000
        min-spare-threads: 30
    port: 8086
    connection-timeout: 5000

spring:
    # 环境 dev|test|pro
    profiles:
        active: prod
    # jackson时间格式化
    jackson:
        time-zone: GMT+8
        date-format: yyyy-MM-dd HH:mm:ss
    http:
        multipart:
            max-file-size: 100MB
            max-request-size: 50MB
            enabled: true

# Mybatis配置
mybatis:
    mapperLocations: classpath*:mapper/**/*.xml
    configuration:
        map-underscore-to-camel-case: true